<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pipilong.mapper.SelectExistMapper">

    <select id="telephone" resultType="java.lang.Boolean">
        select if(count(*)=1,true,false) from account_security where phone_number=${telephone};
    </select>

    <select id="email" resultType="java.lang.Boolean">
        select if(count(*)=1,true,false) from account_security where email='${email}';
    </select>

    <select id="password" resultType="java.lang.String">
        select password from account_security where user_id = ${userid};
    </select>

    <select id="githubIdIfExist" resultType="java.lang.Integer">
        select user_id from account_security where github_id = ${githubId};
    </select>

</mapper>






































