<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pipilong.mapper.UserMapper">

    <resultMap id="resultMap" type="com.pipilong.pojo.User">
        <result property="telephone" column="phone_number"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="personalMessage" column="personal_message"/>
        <result property="githubUrl" column="github_url"/>
        <result property="numberOfRead" column="number_of_read"/>
        <result property="numberOfLikes" column="number_of_likes"/>
        <result property="numberOfCollections" column="number_of_collections"/>
    </resultMap>

    <insert id="registerUserToSecurity">
        insert into account_security value (null,${userId},'${email}','${telephone}',null,null,null);
    </insert>

    <insert id="registerUserToData">
        insert into user_data(id,user_id,username) value (null,'${userId}','${username}');
    </insert>

    <select id="getUserIdByTelephone" resultType="java.lang.String">
        select user_id from account_security where phone_number = ${telephone};
    </select>

    <select id="getPasswordByIdentifier" resultMap="resultMap">
        select * from account_security where phone_number = '${identifier}' or email = '${identifier}';
    </select>

    <update id="modifyProfile">
        update user_data set username='${user.username}',
                             gender='${user.gender}',
                             <if test="user.birthday!=null">
                                 birthday='${user.birthday}',
                             </if>
                             address='${user.address}',
                             personal_message='${user.personalMessage}',
                             github_url='${user.githubUrl}',
                             school='${user.school}'
                where user_id=${user.userId};
    </update>

    <select id="selectTelephoneByUserId" resultType="java.lang.String">
        select phone_number from account_security where user_id = ${userid};
    </select>

    <update id="modifyTelephone">
        update account_security set phone_number = ${telephone} where user_id = ${userid};
    </update>

    <update id="modifyEmail">
        update account_security set email = '${email}' where user_id = ${userid};
    </update>

    <update id="modifyPassword">
        update account_security set password = '${newpassword}' where user_id = ${userid};
    </update>

    <update id="setPassword">
        update account_security set password = '${newpassword}' where user_id = ${userid};
    </update>

    <update id="updateUserLikeCount">
        update user_data set number_of_likes = number_of_likes + ${count} where user_id = ${userid};
    </update>
    <update id="updateUserCollectionCount">
        update user_data set number_of_collections = number_of_collections + ${count} where user_id=${userid};
    </update>
    <update id="updateUserReadCount">
        update user_data set number_of_read = number_of_read + ${count} where user_id=${userid};
    </update>

    <select id="selectEmailByUserIdAfter" resultType="java.lang.String">
        select email from account_security where user_id = ${userid};
    </select>

    <select id="selectPassword" resultType="java.lang.String">
        select password from account_security where user_id = ${userid};
    </select>
    <select id="getProfile" resultMap="resultMap">
        select * from user_data where user_id = ${userid};
    </select>
    <select id="getTelephoneByUserId" resultType="java.lang.String">
        select phone_number from account_security where user_id = ${userid};
    </select>
    <select id="getEmailByUserID" resultType="java.lang.String">
        select email from account_security where user_id = ${userid};
    </select>
    <select id="selectUserId" resultType="java.lang.String">
        select user_id from user_data;
    </select>
    <select id="getUserNameByUserId" resultType="java.lang.String">
        select username from user_data where user_id = ${userid};
    </select>
</mapper>




































