<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>皮皮龙博客</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/search-style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./editormd/css/editormd.css" />
</head>
<body>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.pipilong.com.cn/editormd/editormd.min.js"></script>
<script src="./editormd/lib/marked.min.js"></script>
<script src="./editormd/lib/prettify.min.js"></script>
<script src="./editormd/lib/raphael.min.js"></script>
<script src="./editormd/lib/underscore.min.js"></script>
<script src="./editormd/lib/sequence-diagram.min.js"></script>
<script src="./editormd/lib/flowchart.min.js"></script>
<script src="./editormd/lib/jquery.flowchart.min.js"></script>
<script src="https://cdn.pipilong.com.cn/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.pipilong.com.cn/js/axios-0.18.0.js"></script>

<div id="app">

    <el-container>
        <el-header style="background-color: #ffffff;margin-top: -8px;">
            <!--            <div class="hr-double"></div>-->
            <el-row class="row">
                <el-col :span="1">
                    <div></div>
                </el-col>
                <el-col :span="2">
                    <div>
                        <a href="./index.html">
                            <img src="https://cdn.pipilong.com.cn/logo.png" class="logo" alt=""/>
                        </a>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div>
                        <a href="./index.html" class="home-page-style1 head_icon">
                            <div style="float: left;margin-top: 21px;padding-left: 54px;"><img src="https://cdn.pipilong.com.cn/svg/home.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 6px;">首页</div></a>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div>
                        <a href="./html/interview-experience.html" target="_blank" class="home-page-style1 head_icon">
                            <div style="float: left;margin-top: 21px;padding-left: 50px;"><img src="https://cdn.pipilong.com.cn/svg/book.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 10px;">面经</div></a>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div>
                        <el-input v-model="search" placeholder="Enter Your Search Content" class="txtb" @keyup.enter.native="searchMethod">
                            <template #suffix>
                                <el-button icon="el-icon-search" circle @click="searchMethod"></el-button>
                            </template>
                        </el-input>
                    </div>
                </el-col>
                <el-col :span="2">

                    <div>
                        <a href="./html/java.html" class="home-page-style1 head_icon" target="_blank">
                            <div style="float: left;margin-top: 19px;padding-left: 10px;"><img src="https://cdn.pipilong.com.cn/svg/java.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 34px;">八股文</div></a>
                    </div>
                </el-col>
                <el-col :span="2">

                    <div>
                        <a href="./html/message.html" target="_blank" class="home-page-style1 head_icon">
                            <div style="float: left;margin-top: 20px;padding-left: 20px;"><img src="https://cdn.pipilong.com.cn/svg/message.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 40px;">消息</div></a>
                    </div>

                </el-col>
                <el-col :span="2">
                    <div>
                        <el-dropdown :hide-on-click="false" show-timeout="0" hide-timeout="100">
                            <span class="el-dropdown-link">
                                网站相关
                                <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>
                                    <i class="el-icon-s-custom"></i>
                                    <a href="https://cdn.pipilong.com.cn/作者介绍.html" target="_blank"
                                       class="home-page-style5">作者介绍</a>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <i class="ri-booklet-fill"></i>
                                    <a href="/html/log.html" target="_blank"
                                       class="home-page-style5">网站日志</a>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <i><img src="https://cdn.pipilong.com.cn/svg/github.svg" width="15px;" alt=""/></i>
                                    <a href="https://github.com/pipilongstar/PipilongPersonalBlog" target="_blank"
                                       class="home-page-style5">项目源码</a>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <i><img src="https://cdn.pipilong.com.cn/svg/gitee.svg" width="14px;" alt=""/></i>
                                    <a href="https://gitee.com/pipilongstar/PipilongPersonalBlog" target="_blank"
                                       class="home-page-style5">项目源码</a>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </el-col>

                <el-col :span="3">
                    <div v-if="!isLogin">
                        <a href="./html/login.html" target="_blank">
                            <el-button round type="primary" class="login_button--primary">登录/注册</el-button>
                        </a>
                    </div>
                    <div v-if="isLogin">

                        <div style="margin-top: 13px;">
                            <a href="./html/personal-center.html" target="_blank" @mouseover="avatarShow"
                               @mouseleave="avatarShut">
                                <el-avatar shape="circle" :size="40" :fit="fit" :src="avatarUrl"
                                           class="avatar-style"></el-avatar>
                            </a>
                        </div>

                        <!--                        鼠标悬停头像小卡片-->
                        <el-collapse-transition>
                            <div v-show="isAvatarShow" class="isAvatarShow_style" @mouseover="avatarShow"
                                 @mouseleave="avatarShut">
                                <el-card shadow="always" style="height: 220px;width: 190px;border-radius: 16px;">
                                    <a href="./html/personal-center.html" target="_blank">
                                        <div style="margin-top: -5px;">
                                            <el-avatar :src="avatarUrl"
                                                       :size="60"></el-avatar>
                                        </div>
                                    </a>
                                    <div style="margin-top: -50px;">
                                        <span v-if="username.length===0" style="color: #dc6a6a"><h3>还没有名称哦！</h3></span>
                                        <span v-if="username.length<=7&&username.length>0">
                                            <h3>{{username}}</h3>
                                        </span>
                                        <span v-if="username.length>7">
                                            <h3>{{username.substring(0,7)}}...</h3>
                                        </span>
                                    </div>

                                    <div style="margin-top: -28px;margin-left: -26px;">
                                        <el-button type="primary" plain class="avatar_card_item--primary" @click="openPersonalSettings">
                                            <div style="font-size: 18px;float: left;margin-left: 14px;">
                                                <i class="ri-user-settings-line"></i>
                                            </div>
                                            <div style="float: right;margin-right: 48px;font-size: 15px;margin-top: 4px;">
                                                个人设置
                                            </div>
                                        </el-button>
                                    </div>

                                    <div style="margin-left: -26px;margin-top: -6px;">
                                        <el-button type="primary" plain class="avatar_card_item--primary" @click="logout">
                                            <div style="font-size: 18px;float: left;margin-left: 14px;">
                                                <i class="ri-arrow-left-circle-line"></i>
                                            </div>
                                            <div style="float: right;margin-right: 48px;font-size: 15px;margin-top: 4px;">
                                                退出登录
                                            </div>
                                        </el-button>
                                    </div>
                                    <!--                                    <a href="#">-->
                                    <!--                                        <div class="avatar_card_item">-->
                                    <!--                                            退出登录-->
                                    <!--                                        </div>-->
                                    <!--                                    </a>-->
                                </el-card>
                            </div>
                        </el-collapse-transition>

                    </div>
                </el-col>
            </el-row>

        </el-header>
        <!--        中部-->
        <el-container>
            <!--            左侧-->
            <el-aside width="250px" style="background-color: #f8f8f8">

<!--                插图-->
                <div style="margin-top: 30px;">
                    <img src="https://cdn.pipilong.com.cn/svg/message1.svg" style="width: 230px;"/>
                </div>
                <!--                <div style="width: 8cm;background-color: #107c10;height: 10px;"></div>-->
                <div style="margin-top: -160px;">
                    <h3>皮皮龙科技公众号</h3>
                    <h4 style="line-height: 2;margin-top: -80px">
                        更多资源，最新消息会持续发布在公众号上，如果你有关于面试，学习Java等问题或意见都可以在公众号上和我讨论😂，欢迎关注🥳</h4>
                    <img src="https://cdn.pipilong.com.cn/公众号.png" style="width: 4cm;height: 4cm;">
                    <h4 style="line-height: 2;margin-top: -80px">关注公众号，发送“资料”，可以领取学习资料大礼包😎</h4>
                </div>

                <div style="">
                    <img src="https://cdn.pipilong.com.cn/svg/discuss2.svg" style="width: 200px;"/>
                </div>

            </el-aside>
            <el-container>
                <!--                主-->
                <el-main style="background-color: #f8f8f8">

<!--                    <el-card shadow="always">-->
                        <el-row style="margin-top: -60px;margin-bottom: -5%;margin-left: -2%">
                            <el-col :span="2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M3 19V5.7a1 1 0 0 1 .658-.94l9.671-3.516a.5.5 0 0 1 .671.47v4.953l6.316 2.105a1 1 0 0 1 .684.949V19h2v2H1v-2h2zm2 0h7V3.855L5 6.401V19zm14 0v-8.558l-5-1.667V19h5z"
                                          fill="rgba(214,98,98,1)"/>
                                </svg>
                            </el-col>
                            <el-col :span="3" style="margin-top: -4%;margin-left: -3%;">
                                <h4>精选讨论</h4>
                            </el-col>
                        </el-row>

                        <!--                     走马灯-->
                        <el-col :span="24" style="height: 223px;margin-top: -13%;">
                            <template>
                                <el-carousel :interval="2000" type="card" height="200px" indicator-position="none">
                                    <el-carousel-item v-for="item in this.light" :key="item" style="border-radius: 7px;" @click.native="enterDiscuss(item)">

                                        <el-card shadow="none"  style="line-height: 9;height: 200px;cursor: pointer;">
                                            <el-row style="line-height: 1;margin-top: -5px;margin-left: -5px;">
                                                <el-col :span="2" style="float: left;">
                                                    <el-avatar :size="50" :src="item.userAvatarUrl"></el-avatar>
                                                </el-col>
                                                <el-col :span="18" style="text-align: left;margin-top: -6px;">
                                                    <h4 style="margin-left: 30px;">{{item.theme}}</h4>
                                                </el-col>
                                                <el-col :span="4" style="font-size: 10px;">
                                                    {{item.submitDate}}
                                                </el-col>
                                            </el-row>

                                            <div style="margin-top: 24px;">
                                                <p style="float: left;color: #7c7b7b;font-size: 14px;line-height: 1.4;text-align:left;margin-top: -2px;margin-left: 8px;">
                                                    {{item.text.substring(0,95)}}
                                                    <span v-show="item.text.length>=95">...</span>
                                                </p>
                                            </div>
                                            <div style="">
                                                <el-col :span="24">
                                                    <div style="float: left;margin-top: -28px;margin-bottom: 8px;">
                                                        <el-tag
                                                                v-for="tag in item.label"
                                                                :key="tag.name"
                                                                :type="tag.type"
                                                                size="small"
                                                                style="margin-top: 30px;border-radius: 25px;margin-left: 5px;">
                                                            {{tag.name}}
                                                        </el-tag>
                                                    </div>
                                                </el-col>
                                            </div>

                                        </el-card>

                                    </el-carousel-item>
                                </el-carousel>
                            </template>
                        </el-col>

                        <el-col>
                            <div v-show="this.tableData.length<=0" style="">
                                <el-empty style="height: 660px" image="https://cdn.pipilong.com.cn/svg/empty.svg"></el-empty>
                            </div>
                        </el-col>

                        <!--                    中部表单    -->

                        <div v-for="(item,index) in tableData" style="text-decoration: none;" @click="enterDiscuss(item)">
                            <transition name="el-fade-in-linear">
                            <el-card shadow="none" class="card_discuss" style="line-height: 2;cursor: pointer;" >
                                <el-row style="line-height: 1;margin-top: -5px;margin-left: -5px;">
                                    <el-col :span="2" style="float: left;">
                                        <el-avatar :size="40" :src="item.userAvatarUrl"></el-avatar>
                                    </el-col>
                                    <el-col :span="18" style="text-align: left;margin-top: -6px;">
                                        <h4>{{item.theme}}</h4>
                                    </el-col>
                                    <el-col :span="4" style="font-size: 10px;">
                                        {{item.submitDate}}
                                    </el-col>
                                </el-row>

                                <div>
                                    <p style="float: left;color: #7c7b7b;font-size: 14px;line-height: 1.4;text-align:left;margin-top: -2px;margin-left: 8px;">
                                        {{item.text.substring(0,95)}}
                                        <span v-show="item.text.length>=95">...</span>
                                    </p>
                                </div>
                                <div>
                                    <el-col :span="24">
                                        <div style="float: left;margin-top: -28px;margin-bottom: 8px;">
                                            <el-tag
                                                    v-for="tag in item.label"
                                                    :key="tag.name"
                                                    :type="tag.type"
                                                    size="small"
                                                    style="margin-top: 30px;border-radius: 25px;margin-left: 5px;">
                                                {{tag.name}}
                                            </el-tag>
                                        </div>
                                    </el-col>
                                </div>

                            </el-card>
                    </transition>
                            <div style="height: 10px;"></div>
                        </div>

                        <div style="margin-top: -36px;" v-if="this.tableData.length>0">
                            <el-button type="primary" @click="add_tableData" class="add_tableData_button--primary">
                                加载更多
                            </el-button>
                        </div>

<!--                    发讨论的对话框-->
                    <el-dialog
                            :visible.sync="isShowDialog"
                            width="60%"
                            top="8vh"
                            :before-close="close_dialog">
                        <div style="line-height: 1">
                            <p style="margin-top: -40px;color: #81be81;font-weight: bolder;font-size: 20px;text-shadow: 1px 1px 3px 2px #81be81">发布讨论</p>

                            <div style="margin-left: -10px;">
                                <el-input v-model="theme" placeholder="请输入标题..." maxlength="30" show-word-limit></el-input>
                            </div>

                            <div style="margin-top: 15px;float: left;margin-bottom: 20px;">
                                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="isShowTagSelect" class="tag_button--primary" size="small" round>
                                    <span v-show="this.tags.length===0">请选择标签</span>
                                    <span v-show="this.tags.length>0">已选择{{tags.length}}个标签</span>
                                </el-button>
                            </div>

                            <div style="margin-top: 58px;position: absolute;z-index: 999;">
                                <el-select filterable v-model="currentTag" placeholder="请选择标签" @change="currentOptionTag" @blur="isShowTagSelect1" v-show="showTagSelect">
                                    <el-option
                                            v-for="(tag,index) in optionTags"
                                            :key="tag.label"
                                            :label="tag.label"
                                            :value="tag.label"
                                    >
                                    </el-option>
                                </el-select>
                            </div>

                            <div style="float: left ;height: 10px;margin-top: 16px;margin-left: 12px;word-spacing:10px;">
                                <el-tag
                                        v-for="(tag,index) in tags"
                                        :key="tag.name"
                                        closable
                                        @close="handleClose(tag,index)"
                                        :type="tag.type"
                                        style="border-radius: 25px;margin-left: 5px;">
                                    {{tag.name}}
                                </el-tag>
                            </div>

                            <div id="my-editor" style="line-height: 1;height: 400px;width: 862px;margin-left: -18px;margin-top: 65px;">
                                <textarea style=""  id="my-editormd-markdown-doc" name="my-editormd-markdown-doc">
                                 </textarea>
                            </div>

                            <div>
                                <el-row style="margin-bottom: -10px;">
                                    <el-col :span="12" style="padding-left: 140px;"><el-button type="primary" primary class="cancel_button--primary" @click="close_dialog">取消</el-button></el-col>
                                    <el-col :span="12" style="padding-right: 140px;"><el-button type="primary" primary class="submit_button--primary" v-loading.fullscreen.lock="fullscreenLoading" @click="submitDiscuss">发布</el-button></el-col>
                                </el-row>
                            </div>
                        </div>
                    </el-dialog>


<!--                    </el-card>-->

                </el-main>
            </el-container>
            <!--            右侧-->
            <el-aside width="380px" style="background-color: #f8f8f8">

                <div style="padding-left: 34px;padding-top: 30px">
                    <el-card shadow="always" style="border-radius: 20px;width: 240px;height: 60px;margin-bottom: -25%;box-shadow: 0 0 6px rgb(129,190,129);">
                        <el-col :span="12" style="margin-top: -45%;">
                            <el-button icon="el-icon-edit-outline" type="primary" circle class="release_button--primary"
                                       @click="openRelease"></el-button>
                        </el-col>
                        <el-col :span="12" style="margin-top: -45%;margin-left: -5%;">
                            <el-button type="text" style="color: #81be81;font-weight: bolder;" @click="openRelease">
                                发起讨论
                            </el-button>
                        </el-col>
                    </el-card>


                </div>

                <!--                全站热榜-->
                <div style="padding-left: 34px;padding-top: 126px;">
                    <el-card shadow="always" style="border-radius: 20px;width: 240px;box-shadow: 0 0 6px rgb(234,112,112);">
                        <div style="margin-top: -110px;background-color: #f38f99;margin-left: -170px;width: 400px;height: 120px;">
                            <h4>全站热榜</h4>
                        </div>
                        <div style="height: 6px;"></div>

                        <div v-for="(item,index) in hotList" style="margin-left: -20px;line-height: 0.7;" @click="enterDiscuss(item)">
                            <el-button type="primary" plain class="hot_item">
                                <el-row>
                                    <el-col :span="2" style="margin-left: -5px;">
                                        <img :src="item.indexUrl" width="16px;" style="float: left;margin-top: 4px;margin-left: -5px;">
                                    </el-col>
                                    <el-col :span="4" style="">
                                        <el-avatar :size="25" :src="item.userAvatarUrl" style="float: left;margin-left: 4px;"></el-avatar>
                                    </el-col>
                                    <el-col :span="18" style="line-height: 0;">
                                        <p style="text-align: left;margin-left: 7px;font-size: 14px;">{{item.theme}}</p>
<!--                                        <span v-show="item.text.length>=15">...</span>-->
                                    </el-col>
                                </el-row>
                            </el-button>
                        </div>

                        <div style="margin-bottom: -16px;"></div>

                    </el-card>
                </div>

                <div style="margin-top: 30px;margin-right: 130px;">
                    <img src="https://cdn.pipilong.com.cn/svg/discuss3.svg" style="width: 210px;"/>
                </div>

                <!--                回到顶部-->
                <el-backtop :bottom="150" visibility-height="140" :right="180" style="width: 50px;">
                    <div style="{
                                height: 100%;
                                width: 100%;
                                background-color: #f2f5f6;
                                box-shadow: 0 0 6px rgb(16,178,160);
                                text-align: center;
                                line-height: 50px;
                                color: #10b2a0;
                                border-radius: 16px;
                                }">
                        <div style="font-size: 30px;">
                            <i class="ri-rocket-2-fill"></i>
                        </div>
                    </div>
                </el-backtop>

            </el-aside>
        </el-container>
        <!--        脚部-->
        <el-footer height="40px" style="background-color: #f8f8f8">
            <div style="margin-top: -32px">
                <h5>Copyright © 2023 Pipilong. 皮皮龙技术分享 版权所有 <a href="https://beian.miit.gov.cn/"
                                                                          target="_blank" class="footer-style">皖ICP备2023001037号-1</a>
                </h5>
            </div>
        </el-footer>

    </el-container>

</div>

<script type="text/javascript">
    $(function() {
        var editor = editormd("my-editor", {
            width  : "100%;",
            height : "100%;",
            path   : "./editormd/lib/",
            saveHTMLToTextarea: true,
            syncScrolling: "single",
            emoji: true,
            theme : "default",
            previewTheme : "default",
            editorTheme : 'mdn-like',
            toolbarIcons : function(){
                return ["header","bold","xieti","list-ol","list-ul","emoji","image","uploadImage","","","","","","","code2","code","link","watch","fullscreen"]
            },
            toolbarIconsClass : {
                header : "fa fa-header",
                code2 :"fa fa-file-code-o",
                xieti: "fa fa-italic",
            },
            toolbarHandlers : {
                /**
                 * @param {Object}      cm         CodeMirror对象
                 * @param {Object}      icon       图标按钮jQuery元素对象
                 * @param {Object}      cursor     CodeMirror的光标对象，可获取光标所在行和位置
                 * @param {String}      selection  编辑器选中的文本
                 */
                header : function(cm) {
                    cm.replaceSelection("#");
                },
                code2 : function(cm) {
                    cm.replaceSelection("```\n代码块\n ```");
                },
                xieti : function(cm) {
                    cm.replaceSelection("*斜体*");
                }
            },
            toolbarCustomIcons : {
                uploadImage   : "<input type=\"file\" accept=\"image/*\" />",
                // image : "<i class=\"fa fa-photo\" aria-hidden=\"true\"/>"
            },
            onload : function(){
                $("[type=\"file\"]").bind("change", function(){
                    let file=this.files[0];
                    let formData = new FormData();
                    let last = '';
                    formData.append("file", file);
                    service.post('http://localhost:8080/upload/image', formData, {headers: {'Content-Type': 'multipart/form-data'}}).then(res => {
                        last=res.data;
                        let index=$(this).val().lastIndexOf('\\');
                        editor.cm.replaceSelection("![](https://cdn.pipilong.com.cn/images/"+last+"_"+$(this).val().substring(index+1)+")");
                    }).catch(error => {

                    });
                });
            },
        });

    });
</script>

<script>

    const service = axios.create({
        withCredentials: true, // 跨域请求时发送Cookie
        timeout: 60000, // 请求超时
    });

</script>

<script>

    new Vue({
        el: "#app",

        mounted() {
            this.isShowDialog=false;

            service.get("http://localhost:8080/verification/isLogin").then(res => {
                this.user_id = res.data;
                this.avatarUrl = "https://cos.pipilong.com.cn/UserAvatar/" + this.user_id +".jpg";
                this.isLogin = true;

                service.get("http://localhost:8080/user/getprofile").then(res=>{
                    this.username=res.data.username;
                }).catch(error=>{
                    this.$message.error('登录异常，请重新登录！');
                });
            });

            let conditional={
                "query": {
                    "match_all": {}
                },
                "sort": {
                    "submitDate": {
                        "order": "desc"
                    }
                },
                "from": 0,
                "size": 5
            }

            service.post("http://localhost:8080/query/es",conditional).then(res=>{
                this.tableData=res.data;
                for(let i=0;i<this.tableData.length;i++){
                    this.tableData[i].label = JSON.parse(this.tableData[i].label);
                    let oldDate=new Date(this.tableData[i].submitDate);
                    let newDate=new Date();
                    let diff=(newDate-oldDate)/1000/3600/24;
                    diff=Math.round(diff)-1;
                    if(diff===0) this.tableData[i].submitDate='今天';
                    else{
                        if(diff===1) this.tableData[i].submitDate='昨天';
                        else{
                            if(diff===2) this.tableData[i].submitDate=diff+'天前';
                        }
                    }
                }
                for(let i=0;i<Math.min(this.tableData.length,6);i++){
                    this.light.push(this.tableData[i]);
                }

            }).catch(error=>{
                console.info(error.response.data);
                this.$message.error('加载错误！');
            });

            service.get("http://localhost:8080/query/rankingList").then(res=>{
               this.hotList=res.data;
               this.hotList.forEach((item,index)=>{
                   Object.assign(item,{'indexUrl':'https://cdn.pipilong.com.cn/svg/数字'+(index+1)+'.svg'});
               });
               console.info(this.hotList);
            });

            let url = window.location.href;
            let jwt=url.split('?')[1].split('=')[1];
            console.info('jwt'+jwt);
        },

        methods: {
            login() {
                this.dialogVisibleLogin = true;
            },
            openRelease() {
                if(!this.isLogin){
                    window.open('./html/login.html');
                    return 0;
                }
                this.isShowDialog = true;
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            add_tableData() {
                let newData;

                let conditional={
                    "query": {
                        "match_all": {}
                    },
                    "sort": {
                        "submitDate": {
                            "order": "desc"
                        }
                    },
                    "from": this.page*5,
                    "size": 5
                }

                service.post("http://localhost:8080/query/es",conditional).then(res=>{
                    if(res.data.length===0){
                        this.$message({
                            message: '没有数据了！',
                            type: 'warning'
                        });
                        return;
                    }
                    newData=res.data;
                    for(let i=0;i<newData.length;i++){
                        newData[i].label = JSON.parse(newData[i].label);
                        let oldDate=new Date(newData[i].submitDate);
                        let newDate=new Date();
                        let diff=(newDate-oldDate)/1000/3600;
                        if(diff===0) newData[i].submitDate='今天';
                        else{
                            if(diff===1) newData[i].submitDate='昨天';
                            else{
                                if(diff===2) newData[i].submitDate=diff+'天前';
                            }
                        }
                        this.tableData.push(newData[i]);
                    }
                    this.page++;
                }).catch(error=>{
                    console.info(error.response.data);
                    this.$message.error('加载错误！');
                });

            },
            avatarShow() {
                this.isAvatarShow = true;
            },
            avatarShut() {
                this.isAvatarShow = false;
            },
            openPersonalSettings(){
              window.open('./html/personal-settings.html');
            },
            logout(){

                service.get('http://localhost:8080/logout').then(res=>{
                   window.location.href='./index.html';
                }).catch(error=>{
                    this.$message.error('退出登录失败！');
                });

            },
            handleClose(tag, index) {
                this.tags.splice(index,1);
            },
            currentOptionTag(){
                let type=['','success','info','warning','danger'];
                let idx=Math.floor(Math.random()*5);
                console.info(idx);
                let data={name:this.currentTag,type:type[idx]};
                this.tags.push(data);
                console.info(this.tags);
            },
            isShowTagSelect(){
                this.showTagSelect=!this.showTagSelect;
            },
            isShowTagSelect1(){
                this.showTagSelect=false;
            },
            close_dialog(){
                this.isShowDialog=false;
            },
            submitDiscuss(){
                if(!this.isLogin){
                    window.open('./html/login.html');
                    return 0;
                }
                this.fullscreenLoading=true;
                if(!this.isLogin){
                    this.$message.error('请先登录！');
                    this.fullscreenLoading=false;
                    return;
                }
                if(this.theme===''){
                    this.$message.error('请填写主题！');
                    this.fullscreenLoading=false;
                    return;
                }

                let data={
                    "theme":this.theme,
                    "user_id":this.user_id,
                    "text": $("#my-editormd-markdown-doc").val(),
                    "username": this.username,
                    "label": JSON.stringify(this.tags)
                }


                service.post('http://localhost:8080/util/token').then(res=>{

                    service.post('http://localhost:8080/upload/discuss/'+res.data,data,{
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8',
                        }
                    }).then(res=>{
                        this.fullscreenLoading=false;
                        this.isShowDialog=false;
                        this.$message({
                            message: '发布成功！',
                            type: 'success'
                        });
                        this.theme='';
                        this.label='';
                    }).catch(error=>{
                        this.fullscreenLoading=false;
                        this.$message.error(error.response.data);
                    });

                }).catch(error=>{

                });

            },
            enterDiscuss(item){
                let url='./html/discuss.html?id=' + item.discussId;
                window.open(url);
            },
            searchMethod(){
                let url = encodeURI('./html/search-page.html?query='+this.search);
                window.open(url);
            }
        },

        data() {
            return {
                search: '',
                isLogin: false,
                avatarUrl: '',
                fit: 'fill',
                reference: false,
                dialogVisibleLogin: false,
                tableData: [],
                hotList: [],
                isAvatarShow: false,
                username: '',
                isShowDialog: true,
                fullscreenLoading: false,
                theme: '',
                currentTag: '',
                showTagSelect: false,
                tags: [],
                optionTags: [
                    {label:'面经'},{label:'生活'},{label:'技术分享'},{label:'问题求助'},{label:'知识'},{label:'Java'},{label:'JavaScript'},{label:'MS SQL Server'},{label:'MySQL'},{label:'Oracle'},
                    {label:'Erlang'},{label:'IO'},{label:'并发'},{label:'多线程'},{label:'集合'},{label:'JVM'},{label:'计算机网络'},{label:'HTTP'},{label:'TLS'},{label:'TCP'},{label:'操作系统'},{label:'CPU'},{label:'内存'},{label:'Linux'},
                    {label:'Shell'},{label:'数据结构'},{label:'树'},{label:'堆'},{label:'图'},{label:'布隆过滤器'},{label:'算法'},{label:'Redis'},{label:'ElasticSearch'},{label:'Maven'},{label:'Git'},{label:'Docker'},{label:'IDEA'},{label:'Eclipse'},
                    {label:'Spring'},{label:'SpringBoot'},{label:'MyBatis'},{label:'Netty'},{label:'设计模式'},{label:'SpringSecurity'},{label:'SpringData'},{label:'JWT'},{label:'单点登录'},{label:'WebSocket'},{label:'分布式'},
                    {label:'RPC'},{label:'负载均衡'},{label:'CDN'},{label:'消息队列'},{label:'MySQL优化'},{label:'读写分离'},{label:'网关'},{label:'熔断'}
                ],
                page: 1,
                light: [],
            }
        }
    });
</script>

</body>
</html>