<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讨论</title>
    <link rel="stylesheet" href="../css/discuss.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/search-style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../editormd/css/editormd.css"/>
</head>
<body>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.pipilong.com.cn/editormd/editormd.min.js"></script>
<script src="https://cdn.pipilong.com.cn/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.pipilong.com.cn/js/axios-0.18.0.js"></script>

<script src="../editormd/lib/marked.min.js"></script>
<script src="../editormd/lib/prettify.min.js"></script>
<script src="../editormd/lib/raphael.min.js"></script>
<script src="../editormd/lib/underscore.min.js"></script>
<script src="../editormd/lib/sequence-diagram.min.js"></script>
<script src="../editormd/lib/flowchart.min.js"></script>
<script src="../editormd/lib/jquery.flowchart.min.js"></script>
<script src="../editormd/editormd.js"></script>

<div id="app">

    <el-container>
        <el-header style="background-color: #ffffff;margin-top: -8px;">
            <!--            <div class="hr-double"></div>-->
            <el-row class="row">
                <el-col :span="1">
                    <div></div>
                </el-col>
                <el-col :span="2">
                    <div>
                        <a href="../index.html">
                            <img src="https://cdn.pipilong.com.cn/logo.png" class="logo" alt=""/>
                        </a>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div>
                        <a href="/" class="home-page-style1 head_icon">
                            <div style="float: left;margin-top: 21px;padding-left: 54px;"><img
                                    src="https://cdn.pipilong.com.cn/svg/home.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 6px;">首页</div>
                        </a>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div>
                        <a href="./interview-experience.html" target="_blank" class="home-page-style1 head_icon">
                            <div style="float: left;margin-top: 21px;padding-left: 50px;"><img
                                    src="https://cdn.pipilong.com.cn/svg/book.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 10px;">面经</div>
                        </a>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div>
                        <el-input v-model="search" placeholder="Enter Your Search Content" class="txtb"
                                  @keyup.enter.native="searchMethod">
                            <template #suffix>
                                <el-button icon="el-icon-search" circle @click="searchMethod"></el-button>
                            </template>
                        </el-input>
                    </div>
                </el-col>
                <el-col :span="2">

                    <div>
                        <a href="./java.html" class="home-page-style1 head_icon">
                            <div style="float: left;margin-top: 19px;padding-left: 10px;"><img
                                    src="https://cdn.pipilong.com.cn/svg/java.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 34px;">八股文</div>
                        </a>
                    </div>
                </el-col>
                <el-col :span="2">

                    <div>
                        <a href="./message.html" class="home-page-style1 head_icon">
                            <div style="float: left;margin-top: 20px;padding-left: 20px;"><img
                                    src="https://cdn.pipilong.com.cn/svg/message.svg" width="19px;"></div>
                            <div style="float: right;margin-top: -38px;padding-right: 40px;">消息</div>
                        </a>
                    </div>

                </el-col>
                <el-col :span="2">
                    <div>
                        <el-dropdown :hide-on-click="false" show-timeout="0" hide-timeout="100">
                            <span class="el-dropdown-link">
                                网站相关
                                <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>
                                    <i class="el-icon-s-custom"></i>
                                    <a href="https://cos.pipilong.com.cn/作者介绍.html" class="home-page-style5" target="_blank">作者介绍</a>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <i class="ri-booklet-fill"></i>
                                    网站日志
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <i><img src="https://cdn.pipilong.com.cn/svg/github.svg" width="15px;" alt=""/></i>
                                    <a href="https://github.com/pipilongstar/PipilongPersonalBlog" target="_blank"
                                       class="home-page-style5">项目源码</a>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <i><img src="https://cdn.pipilong.com.cn/svg/gitee.svg" width="14px;" alt=""/></i>
                                    <a href="https://gitee.com/pipilongstar/PipilongPersonalBlog" target="_blank"
                                       class="home-page-style5">项目源码</a>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </el-col>

                <el-col :span="3">
                    <div v-if="!isLogin">
                        <a href="./login.html" target="_blank">
                            <el-button round type="primary" class="login_button--primary">登录/注册</el-button>
                        </a>
                    </div>
                    <div v-if="isLogin">

                        <div style="margin-top: 13px;">
                            <a href="./personal-center.html" target="_blank" @mouseover="avatarShow"
                               @mouseleave="avatarShut">
                                <el-avatar shape="circle" :size="40" :fit="fit" :src="avatarUrl"
                                           class="avatar-style"></el-avatar>
                            </a>
                        </div>

                        <!--                        鼠标悬停头像小卡片-->
                        <el-collapse-transition>
                            <div v-show="isAvatarShow" class="isAvatarShow_style" @mouseover="avatarShow"
                                 @mouseleave="avatarShut">
                                <el-card shadow="always" style="height: 220px;width: 190px;border-radius: 16px;">
                                    <a href="./personal-center.html" target="_blank">
                                        <div style="margin-top: -5px;">
                                            <el-avatar :src="avatarUrl"
                                                       :size="60"></el-avatar>
                                        </div>
                                    </a>
                                    <div style="margin-top: -50px;">
                                        <span v-if="username.length===0"
                                              style="color: #dc6a6a"><h3>还没有名称哦！</h3></span>
                                        <span v-if="username.length<=7&&username.length>0">
                                            <h3>{{username}}</h3>
                                        </span>
                                        <span v-if="username.length>7">
                                            <h3>{{username.substring(0, 7)}}...</h3>
                                        </span>
                                    </div>

                                    <div style="margin-top: -28px;margin-left: -26px;">
                                        <el-button type="primary" plain class="avatar_card_item--primary"
                                                   @click="openPersonalSettings">
                                            <div style="font-size: 18px;float: left;margin-left: 14px;">
                                                <i class="ri-user-settings-line"></i>
                                            </div>
                                            <div style="float: right;margin-right: 48px;font-size: 15px;margin-top: 4px;">
                                                个人设置
                                            </div>
                                        </el-button>
                                    </div>

                                    <div style="margin-left: -26px;margin-top: -6px;">
                                        <el-button type="primary" plain class="avatar_card_item--primary"
                                                   @click="logout">
                                            <div style="font-size: 18px;float: left;margin-left: 14px;">
                                                <i class="ri-arrow-left-circle-line"></i>
                                            </div>
                                            <div style="float: right;margin-right: 48px;font-size: 15px;margin-top: 4px;">
                                                退出登录
                                            </div>
                                        </el-button>
                                    </div>
                                    <!--                                    <a href="#">-->
                                    <!--                                        <div class="avatar_card_item">-->
                                    <!--                                            退出登录-->
                                    <!--                                        </div>-->
                                    <!--                                    </a>-->
                                </el-card>
                            </div>
                        </el-collapse-transition>

                    </div>
                </el-col>
            </el-row>

        </el-header>
        <!--        中部-->
        <el-container>
            <!--            左侧-->
            <el-aside width="250px" style="background-color: #f8f8f8">

                <!--                插图-->
                <div style="margin-top: 60px;">
                    <img src="https://cdn.pipilong.com.cn/svg/discuss1.svg" style="width: 200px;"/>
                </div>

                <div style="margin-top: 110px;">
                    <img src="https://cdn.pipilong.com.cn/svg/discuss5.svg" style="width: 220px;"/>
                </div>

            </el-aside>
            <el-container>
                <!--                主-->
                <el-main style="background-color: #f8f8f8">

                    <el-card shadow="always">

                        <el-row style="height: 60px;line-height: 1;">
                            <el-col :span="2" style="margin-top: 6px;text-align: left;margin-left: 12px;">
                                <el-avatar :size="50" :src="this.discussData.userAvatarUrl"></el-avatar>
                            </el-col>
                            <el-col :span="18" style="text-align: left;">
                                <h3 >{{this.discussData.theme}}</h3>
                            </el-col>
                            <el-col :span="2" style="">
                                <el-button type="success" icon="el-icon-circle-plus-outline" plain @click="follow">
                                    关注
                                </el-button>
                            </el-col>
                        </el-row>
                        <el-row style="height: 40px;line-height: 3;">
                            <el-col :span="5" style="font-size: 12px;margin-top: 3px;margin-left: 10px;text-align: left;">
                                <span>{{this.discussData.username}}</span>
                            </el-col>
                            <el-col :span="3" style="font-size: 12px;margin-top: 3px;">
                                <span>{{this.discussData.submitDate}}</span>
                            </el-col>
                            <el-col :span="15" style="text-align: left;margin-top: -5px;">
                                <el-tag
                                        v-for="tag in this.discussData.label"
                                        :key="tag.name"
                                        :type="tag.type"
                                        size="small"
                                        style="margin-left: 4px;border-radius: 20px;">
                                    {{tag.name}}
                                </el-tag>
                            </el-col>
                        </el-row>
                        <div style="height: 1px;background-color: #f3f3f3"></div>

                        <div id="test-editormd-view" style="">
                            <textarea id="editormd-name" style="display: none;" name="editormd-markdown-doc"></textarea>
                        </div>

                        <div style="height: 1px;background-color: #f3f3f3"></div>
                        <el-row style="line-height: 1;height: 40px;margin-top: 5px;">

                            <el-col :span="2" style="margin-top: 4px;">
                                <img v-if="!isDianZan" src="https://cdn.pipilong.com.cn/svg/赞.svg" class="clickLike" @click="giveTheThumbsUp"/>
                                <img v-if="isDianZan" src="https://cdn.pipilong.com.cn/svg/赞1.svg" style="width: 30px;cursor: pointer;" @click="giveTheThumbsUp"/>
                            </el-col>

                            <el-col :span="5" style="margin-top: 5px;margin-left: -12px;">
                                <img v-if="!isCollection" src="https://cdn.pipilong.com.cn/svg/收藏2.svg" class="clickLike" @click="collection"/>
                                <img v-if="isCollection" src="https://cdn.pipilong.com.cn/svg/收藏1.svg" style="width: 30px;cursor: pointer;" @click="collection"/>
                            </el-col>

                            <el-col :span="3" style="text-align: left;font-size: 25px;margin-top: 8px;cursor: pointer;">
                                <i class="ri-share-line" @click="share"></i>
                            </el-col>

                        </el-row>

                        <el-row style="line-height: 1;margin-top: 8px;">
                            <el-input v-model="replyData" placeholder="快把你的评论写到这里吧!"></el-input>
                            <div style="margin-top: 10px;margin-bottom: -10px;">
                                <el-button id="submitReply" icon="el-icon-upload2" type="success" round plain @click="submitReply">评论</el-button>
                            </div>
                        </el-row>

                    </el-card>
                    <div style="height: 15px;"></div>

                    <div v-for="(item1,index) in this.replyList">
                        <el-card style="margin-top: 5px;">
                            <div style="line-height: 3;">

                                <el-row style="line-height: 1;">

                                    <el-col :span="1" style="text-align: left;margin-top: -5px;">
                                        <el-avatar :size="30" :src="item1.userAvatarUrl"></el-avatar>
                                    </el-col>
                                    <el-col :span="19" style="text-align: left;margin-left: 8px;height: 30px;margin-top: -20px;">
                                        <h5>{{item1.username}}</h5>
                                    </el-col>
                                    <el-col :span="3" style="font-size: 15px;">
                                        {{item1.date}}
                                    </el-col>

                                </el-row>
                                <el-row style="line-height: 1.5;margin-top: 8px;">
                                    <el-col style="text-align: left;">
                                        {{item1.text}}
                                    </el-col>
                                </el-row>

                                <div style="height: 1px;background-color: #f3f3f3;margin-top: 15px;"></div>

                                <el-row style="line-height: 1;height: 40px;margin-top: 5px;margin-bottom: -14px;">
                                    <el-col :span="2" style="margin-top: 4px;">
                                        <img v-if="!isDianZan1" src="https://cdn.pipilong.com.cn/svg/赞.svg" class="clickLike" @click="giveTheThumbsUp1"/>
                                        <img v-if="isDianZan1" src="https://cdn.pipilong.com.cn/svg/赞1.svg" style="width: 30px;cursor: pointer;" @click="giveTheThumbsUp1"/>
                                    </el-col>

                                    <el-col :span="5" style="margin-top: 5px;margin-left: -12px;">
                                        <img v-if="!isCollection1" src="https://cdn.pipilong.com.cn/svg/收藏2.svg" class="clickLike" @click="collection1"/>
                                        <img v-if="isCollection1" src="https://cdn.pipilong.com.cn/svg/收藏1.svg" style="width: 30px;cursor: pointer;" @click="collection1"/>
                                    </el-col>

                                    <el-col :span="3" style="text-align: left;font-size: 25px;margin-top: 8px;cursor: pointer;">
                                        <i class="ri-share-line" @click="share"></i>
                                    </el-col>
                                </el-row>

                            </div>

                        </el-card>
                    </div>

                </el-main>
            </el-container>
            <!--            右侧-->
            <el-aside width="380px" style="background-color: #f8f8f8">


                <!--                全站热榜-->
                <div style="padding-left: 34px;padding-top: 126px;">
                    <el-card shadow="always"
                             style="border-radius: 20px;width: 240px;box-shadow: 0 0 6px rgb(234,112,112);">
                        <div style="margin-top: -110px;background-color: #f38f99;margin-left: -170px;width: 400px;height: 120px;">
                            <h4>全站热榜</h4>
                        </div>
                        <div style="height: 6px;"></div>

                        <div v-for="(item,index) in hotList" style="margin-left: -20px;line-height: 0.7;" @click="enterDiscuss(item)">
                            <el-button type="primary" plain class="hot_item">
                                <el-row>
                                    <el-col :span="2" style="margin-left: -5px;">
                                        <img :src="item.indexUrl" width="16px;"
                                             style="float: left;margin-top: 4px;margin-left: -5px;">
                                    </el-col>
                                    <el-col :span="4" style="">
                                        <el-avatar :size="25" :src="item.userAvatarUrl"
                                                   style="float: left;margin-left: 4px;"></el-avatar>
                                    </el-col>
                                    <el-col :span="4">
                                        <p style="text-align: left;line-height: 2px;margin-left: 7px;font-size: 14px;">
                                            {{item.theme}}</p>
                                    </el-col>
                                </el-row>
                            </el-button>
                        </div>

                        <div style="margin-bottom: -16px;"></div>

                    </el-card>
                </div>

                <div style="margin-top: 30px;margin-right: 130px;">
                    <img src="https://cdn.pipilong.com.cn/svg/discuss4.svg" style="width: 200px;"/>
                </div>


                <!--                回到顶部-->
                <el-backtop :bottom="150" visibility-height="140" :right="180" style="width: 50px;">
                    <div style="{
                                height: 100%;
                                width: 100%;
                                background-color: #f2f5f6;
                                box-shadow: 0 0 6px rgb(16,178,160);
                                text-align: center;
                                line-height: 50px;
                                color: #10b2a0;
                                border-radius: 16px;
                                }">
                        <div style="font-size: 30px;">
                            <i class="ri-rocket-2-fill"></i>
                        </div>
                    </div>
                </el-backtop>

            </el-aside>
        </el-container>
        <!--        脚部-->
        <el-footer height="40px" style="background-color: #f8f8f8">
            <div style="margin-top: -32px">
                <h5>Copyright © 2023 Pipilong. 皮皮龙技术分享 版权所有 <a href="https://beian.miit.gov.cn/"
                                                                          target="_blank" class="footer-style">皖ICP备2023001037号-1</a>
                </h5>
            </div>
        </el-footer>

    </el-container>

</div>

<script>

    const service = axios.create({
        withCredentials: true, // 跨域请求时发送Cookie
        timeout: 60000, // 请求超时
    });

</script>

<script>

    new Vue({
        el: "#app",

        mounted() {
            let url = window.location.href;
            this.discussId = url.substring(url.lastIndexOf('=') + 1);

            service.get("https://www.pipilong.com.cn/discuss/" + this.discussId).then(res => {
                this.discussData = res.data;
                this.discussData.label = JSON.parse(this.discussData.label);
                this.discussData.submitDate=this.discussData.submitDate.substring(0,10);

                editormd.markdownToHTML("test-editormd-view", {
                    markdown: res.data.text,
                    htmlDecode: "style,script,iframe",
                    tocm: true,
                    emoji: true,
                    taskList: true,
                    tex: true,
                    flowChart: true,
                    sequenceDiagram: true,
                });

                let data=new FormData();
                data.append('authorId',this.discussData.userId);
                data.append('discussId',this.discussData.discussId);
                service.post("https://www.pipilong.com.cn/discuss/read",data).then(res=>{
                });

                service.get("https://www.pipilong.com.cn/discuss/comment/"+this.discussId).then(res=>{
                    this.replyList=res.data;
                    for(let i=0;i<this.replyList.length;i++){
                        this.replyList[i].date=this.replyList[i].date.substring(0,10);
                    }
                });

            }).catch(error => {
                this.$message.error(error.response.data);
            });

            service.get("https://www.pipilong.com.cn/query/rankingList").then(res=>{
                this.hotList=res.data;
                this.hotList.forEach((item,index)=>{
                    Object.assign(item,{'indexUrl':'https://cdn.pipilong.com.cn/svg/数字'+(index+1)+'.svg'});
                });
            });

            service.get("https://www.pipilong.com.cn/verification/isLogin").then(res => {
                this.user_id = res.data;
                this.avatarUrl = "https://cos.pipilong.com.cn/UserAvatar/" + this.user_id + ".jpg";
                this.isLogin = true;

                service.get("https://www.pipilong.com.cn/user/getprofile").then(res => {
                    this.username = res.data.username;
                }).catch(error => {
                    this.$message.error('登录异常，请重新登录！');
                });

                service.get("https://www.pipilong.com.cn/discuss/discussUser/"+this.discussId+'/'+this.user_id).then(res=>{
                    this.isCollection=res.data[0];
                    this.isDianZan=res.data[1];
                });
            });

        },

        methods: {
            login() {
                this.dialogVisibleLogin = true;
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            avatarShow() {
                this.isAvatarShow = true;
            },
            avatarShut() {
                this.isAvatarShow = false;
            },
            openPersonalSettings() {
                window.open('./personal-settings.html');
            },
            logout() {
                service.get('https://www.pipilong.com.cn/logout').then(res => {
                    window.location.href = '../index.html';
                }).catch(error => {
                    this.$message.error('退出登录失败！');
                });
            },
            handleClose(tag, index) {
                this.tags.splice(index, 1);
            },
            currentOptionTag() {
                let type = ['', 'success', 'info', 'warning', 'danger'];
                let idx = Math.floor(Math.random() * 5);
                console.info(idx);
                let data = {name: this.currentTag, type: type[idx]};
                this.tags.push(data);
                console.info(this.tags);
            },
            isShowTagSelect() {
                this.showTagSelect = !this.showTagSelect;
            },
            isShowTagSelect1() {
                this.showTagSelect = false;
            },
            close_dialog() {
                this.isShowDialog = false;
            },
            searchMethod() {
                window.location.href = './search-page.html?query=' + this.search;
            },
            giveTheThumbsUp(){
                if(!this.isLogin){
                    this.$message.error('请先登录！');
                    return;
                }
                this.isDianZan=!this.isDianZan;
                let data=new FormData();
                data.append('dianZan',this.isDianZan);
                data.append('discussId',this.discussId);
                data.append('userId',this.user_id);
                data.append('authorId',this.discussData.userId);
                data.append('discussUrl',window.location.href);
                data.append('username',this.username)
                data.append('discussTheme',this.discussData.theme)
                service.post("https://www.pipilong.com.cn/discuss/dianzan",data).then(res=>{
                });
            },
            giveTheThumbsUp1(){
                this.isDianZan1=!this.isDianZan1;
            },
            collection(){
                if(!this.isLogin){
                    this.$message.error('请先登录！');
                    return;
                }
                this.isCollection=!this.isCollection;
                let data=new FormData();
                data.append('collection',this.isCollection);
                data.append('discussId',this.discussId);
                data.append('userId',this.user_id);
                data.append('authorId',this.discussData.userId);
                service.post("https://www.pipilong.com.cn/discuss/collection",data).then(res=>{
                });
            },
            collection1(){
                this.isCollection1=!this.isCollection1;
            },
            share(){
                if(!this.isLogin){
                    this.$message.error('请先登录！');
                    return;
                }
                let url=window.location.href;
                navigator.clipboard.writeText(url);
                this.$message({
                    message: '成功复制讨论链接！',
                    type: 'success'
                });
            },
            submitReply(){
                if(!this.isLogin){
                    this.$message.error('请先登录！');
                    return;
                }
                if(this.replyData===''){
                    this.$message({
                        message: '请输入评论内容！',
                        type: 'warning'
                    });
                    return;
                }

                let data = {
                    "discussId": this.discussId,
                    "userId": this.user_id,
                    "username": this.username,
                    "text": this.replyData,
                    "authorId": this.discussData.userId,
                    "discussUrl": window.location.href,
                    "discussTheme": this.discussData.theme,
                }
                service.post("https://www.pipilong.com.cn/discuss/submitReply",data).then(res=>{
                    this.$message({
                        message: '评论成功！',
                        type: 'success'
                    });
                }).catch(error=>{
                    this.$message.error('服务器出错，评论失败！')
                });

            },
            enterDiscuss(item){
                let url = './discuss.html?id=' + item.discussId;
                window.open(url);
            },
            follow(){
                if(!this.isLogin){
                    this.$message.error("请先登录！");
                    return;
                }
                if(this.user_id === this.discussData.userId){
                    this.$message({
                        message: '不能关注自己哦！',
                        type: 'warning'
                    });
                    return 0;
                }
                let data=new FormData();
                data.append('userId',this.user_id);
                data.append('friendId',this.discussData.userId);
                service.post("https://www.pipilong.com.cn/user/follow",data).then(res=>{
                    this.$message({
                        message: '关注成功！',
                        type: 'success'
                    });
                }).catch(error=>{
                   this.$message.error("关注失败！");
                });
            }
        },

        data() {
            return {
                search: '',
                isLogin: false,
                avatarUrl: '',
                fit: 'fill',
                reference: false,
                dialogVisibleLogin: false,
                discussData: '',
                isDianZan: false,
                isDianZan1: false,
                isCollection: false,
                isCollection1: false,
                replyData: '',
                replyList: [],
                hotList: [],
                isAvatarShow: false,
                username: '',
                user_id: '',
                isShowDialog: true,
                fullscreenLoading: false,
                theme: '',
                tags: [],
                discussId: '',
            }
        }
    });
</script>

</body>
</html>