<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/personal-center.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/search-style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

<script src="https://cdn.pipilong.com.cn/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.pipilong.com.cn/js/axios-0.18.0.js"></script>

<div id="app">

    <el-container>
        <el-container>
            <el-header style="background-color: #ffffff;margin-top: -8px;">
                <!--            <div class="hr-double"></div>-->
                <el-row class="row">
                    <el-col :span="1">
                        <div></div>
                    </el-col>
                    <el-col :span="2">
                        <div>
                            <a href="../index.html">
                                <img src="https://cdn.pipilong.com.cn/logo.png" class="logo" alt=""/>
                            </a>
                        </div>
                    </el-col>
                    <el-col :span="2">
                        <div>
                            <a href="../index.html" class="home-page-style1 head_icon">
                                <div style="float: left;margin-top: 21px;padding-left: 54px;"><img src="https://cdn.pipilong.com.cn/svg/home.svg" width="19px;"></div>
                                <div style="float: right;margin-top: -38px;padding-right: 6px;">首页</div></a>
                        </div>
                    </el-col>
                    <el-col :span="2">
                        <div>
                            <a href="./interview-experience.html" target="_blank" class="home-page-style1 head_icon">
                                <div style="float: left;margin-top: 21px;padding-left: 50px;"><img src="https://cdn.pipilong.com.cn/svg/book.svg" width="19px;"></div>
                                <div style="float: right;margin-top: -38px;padding-right: 10px;">面经</div></a>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div>
                            <el-input v-model="search" placeholder="Enter Your Search Content" class="txtb" @keyup.enter.native="searchMethod">
                                <template #suffix>
                                    <el-button icon="el-icon-search" circle @click="searchMethod"></el-button>
                                </template>
                            </el-input>
                        </div>
                    </el-col>
                    <el-col :span="2">

                        <div>
                            <a href="./java.html" target="_blank" class="home-page-style1 head_icon">
                                <div style="float: left;margin-top: 19px;padding-left: 10px;"><img src="https://cdn.pipilong.com.cn/svg/java.svg" width="19px;"></div>
                                <div style="float: right;margin-top: -38px;padding-right: 34px;">八股文</div></a>
                        </div>
                    </el-col>
                    <el-col :span="2">

                        <div>
                            <a href="./message.html" class="home-page-style1 head_icon">
                                <div style="float: left;margin-top: 20px;padding-left: 20px;"><img src="https://cdn.pipilong.com.cn/svg/message.svg" width="19px;"></div>
                                <div style="float: right;margin-top: -38px;padding-right: 40px;">消息</div></a>
                        </div>

                    </el-col>
                    <el-col :span="2">
                        <div>
                            <el-dropdown :hide-on-click="false" show-timeout="0" hide-timeout="100">
                            <span class="el-dropdown-link">
                                网站相关
                                <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>
                                        <i class="el-icon-s-custom"></i>
                                        <a href="https://cos.pipilong.com.cn/作者介绍.html" class="home-page-style5" target="_blank">作者介绍</a>
                                    </el-dropdown-item>
                                    <el-dropdown-item>
                                        <i class="ri-booklet-fill"></i>
                                        网站日志
                                    </el-dropdown-item>
                                    <el-dropdown-item>
                                        <i><img src="https://cdn.pipilong.com.cn/svg/github.svg" width="15px;" alt=""/></i>
                                        <a href="https://github.com/pipilongstar/PipilongPersonalBlog" target="_blank"
                                           class="home-page-style5">项目源码</a>
                                    </el-dropdown-item>
                                    <el-dropdown-item>
                                        <i><img src="https://cdn.pipilong.com.cn/svg/gitee.svg" width="14px;" alt=""/></i>
                                        <a href="https://gitee.com/pipilongstar/PipilongPersonalBlog" target="_blank"
                                           class="home-page-style5">项目源码</a>
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </el-col>

                    <el-col :span="3">
                        <div v-if="!isLogin">
                            <a href="./login.html" target="_blank">
                                <el-button round type="primary" class="login_button--primary">登录/注册</el-button>
                            </a>
                        </div>
                        <div v-if="isLogin">

                            <div style="margin-top: 13px;">
                                <a href="./personal-center.html" target="_blank" @mouseover="avatarShow"
                                   @mouseleave="avatarShut">
                                    <el-avatar shape="circle" :size="40" :fit="fit" :src="avatarUrl"
                                               class="avatar-style"></el-avatar>
                                </a>
                            </div>

                        </div>
                    </el-col>
                </el-row>

            </el-header>


            <el-header style="background-color: #f5f5f5;height: 136px;">

                <div class="avatar-position1">
                    <el-row>

                        <el-col :span="4" style="margin-top: 20px;"><div>
                            <el-avatar shape="square" :size="80" :fit="fit" :src="avatarUrl" style="border-radius: 13px;margin-left: 20px;"></el-avatar>
                        </div></el-col>
                        <el-col :span="15" style="margin-top: 20px;margin-left: -40px;"><div>
                            <div style="float: left;">
                                <h4>{{user.username}}</h4>
                            </div>
                        </div></el-col>

                        <el-col :span="5" style="margin-top: -30px;">

                            <!--                        鼠标悬停头像小卡片-->
                            <el-collapse-transition>
                                <div v-show="isAvatarShow" class="isAvatarShow_style" @mouseover="avatarShow"
                                     @mouseleave="avatarShut">
                                    <el-card shadow="always" style="height: 220px;width: 190px;border-radius: 16px;">
                                        <a href="./personal-center.html">
                                            <div style="margin-top: -5px;">
                                                <el-avatar :src="avatarUrl"
                                                           :size="60"></el-avatar>
                                            </div>
                                        </a>
                                        <div style="margin-top: -50px;">
                                            <span v-if="user.username.length===0" style="color: #dc6a6a"><h3>还没有名称哦！</h3></span>
                                            <span v-if="user.username.length<=7&&user.username.length>0">
                                            <h3>{{user.username}}</h3>
                                        </span>
                                            <span v-if="user.username.length>7">
                                            <h3>{{user.username.substring(0,7)}}...</h3>
                                        </span>
                                        </div>

                                        <div style="margin-top: -28px;margin-left: -26px;">
                                            <el-button type="primary" plain class="avatar_card_item--primary" @click="openPersonalSettings">
                                                <div style="font-size: 18px;float: left;margin-left: 14px;">
                                                    <i class="ri-user-settings-line"></i>
                                                </div>
                                                <div style="float: right;margin-right: 48px;font-size: 15px;margin-top: 4px;">
                                                    个人设置
                                                </div>
                                            </el-button>
                                        </div>

                                        <div style="margin-left: -26px;margin-top: -6px;">
                                            <el-button type="primary" plain class="avatar_card_item--primary" @click="logout">
                                                <div style="font-size: 18px;float: left;margin-left: 14px;">
                                                    <i class="ri-arrow-left-circle-line"></i>
                                                </div>
                                                <div style="float: right;margin-right: 48px;font-size: 15px;margin-top: 4px;">
                                                    退出登录
                                                </div>
                                            </el-button>
                                        </div>
                                    </el-card>
                                </div>
                            </el-collapse-transition>

                        </el-col>

                        <div style="margin-top: 10px;">
                            <img src="https://cdn.pipilong.com.cn/svg/personal3.svg" style="width: 220px;"/>
                        </div>

                    </el-row>
                </div>

            </el-header>

        <el-container>
            <el-aside width="300px" style="background-color: #f5f5f5">

                <div style="padding-left: 34px;margin-top: 80px;">
                    <el-card shadow="always" style="border-radius: 20px;width: 230px;line-height: 2">
                        <div>
                            <h3>个人简介</h3>
                        </div>
                        <div style="margin-top: -10px;">
                            <p style="font-size: 16px;color: #545252;text-align: left;">{{user.person_message}}</p>
                        </div>
<!--                        地址-->
                        <div>
                            <div style="font-size: 20px;float: left"><img src="https://cdn.pipilong.com.cn/svg/address.svg"></div>
                            <div style="float: left;margin-left: 10px;font-size: 16px;color: #545252;">
                                <span v-show="user.address===null">空</span>
                                <span v-show="user.address!==null">{{user.address}}</span>
                            </div>
                        </div>

                        <div style="height: 40px;"></div>
<!--                        性别-->
                        <div>
                            <div style="font-size: 20px;float: left" v-show="user.gender === '男'|| user.gender===null"><img src="https://cdn.pipilong.com.cn/svg/men.svg"></div>
                            <div style="font-size: 20px;float: left" v-show="user.gender === '女'"><img src="https://cdn.pipilong.com.cn/svg/women.svg"></div>
                            <div style="float: left;margin-left: 10px;font-size: 16px;color: #545252;">
                                <span v-show="user.address===null">空</span>
                                <span v-show="user.address!==null">{{user.gender}}</span>
                            </div>
                        </div>

                        <div style="height: 40px;"></div>
<!--                        生日-->
                        <div>
                            <div style="float: left"><img src="https://cdn.pipilong.com.cn/svg/birthday.svg" width="24px;"></div>
                            <div style="float: left;margin-left: 10px;font-size: 16px;color: #545252;">
                                <span v-show="user.birthday===null">空</span>
                                <span v-if="user.birthday!==null">{{user.birthday.substring(0,10)}}</span>
                            </div>
                        </div>

                        <div style="height: 40px;"></div>
<!--                        学校-->
                        <div>
                            <div style="float: left"><img src="https://cdn.pipilong.com.cn/svg/hat.svg" width="24px;"></div>
                            <div style="float: left;margin-left: 10px;font-size: 16px;color: #545252;">
                                <span v-show="user.address===null">空</span>
                                <span v-show="user.address!==null">{{user.school}}</span>
                            </div>
                        </div>

                        <div style="height: 30px;"></div>
                    </el-card>
                </div>

                <div style="margin-top: 40px;">
                    <img src="https://cdn.pipilong.com.cn/svg/personal1.svg" style="width: 220px;"/>
                </div>

            </el-aside>
            <el-container>
                <el-main style="background-color: #f5f5f5">

                    <div style="margin-top: -20px;">

                        <el-card shadow="always" style="border-radius: 20px;margin-top: 10px;">
                            <template>
                                <el-tabs v-model="activeName" @tab-click="handleClick" stretch>
                                    <el-tab-pane name="first">
                                        <span slot="label" class="tabs-style"><i class="el-icon-chat-line-square"></i>动态</span>

                                        <div v-if="this.dynamicList.length>0">
                                            <div v-for="(item,index) in this.dynamicList" @click="enterDiscuss(item)">
                                                <el-card shadow="none" class="dynamic">
                                                    <h4 style="text-align: left;margin-bottom: -18px;margin-top: 0px;">{{item.theme}}</h4>
                                                    <div style="">
                                                        <el-tag
                                                                v-for="tag in item.label"
                                                                :key="tag.name"
                                                                :type="tag.type"
                                                                style="border-radius: 20px;margin-left: 4px;margin-top: -20px;">
                                                            {{tag.name}}
                                                        </el-tag>
                                                    </div>
                                                    <div style="margin-top: -16px;text-align: right;color: #676767;font-size: 13px;">{{item.date}}</div>
                                                </el-card>
                                            </div>
                                        </div>

                                        <el-empty v-show="this.dynamicList.length===0" style="height: 700px" image="https://cdn.pipilong.com.cn/svg/empty.svg">
                                        </el-empty>
                                    </el-tab-pane>
                                    <el-tab-pane name="second">
                                        <span slot="label" class="tabs-style"><i class="el-icon-collection"></i>收藏</span>

                                        <div v-if="this.collectionList.length>0">
                                            <div v-for="(item,index) in this.collectionList" style="cursor: pointer;" @click="enterDiscuss(item)">
                                                <el-card shadow="none" class="dynamic">
                                                    <h4 style="text-align: left;margin-bottom: -18px;margin-top: 0px;">{{item.theme}}</h4>
                                                    <div style="">
                                                        <el-tag
                                                                v-for="tag in item.label"
                                                                :key="tag.name"
                                                                :type="tag.type"
                                                                style="border-radius: 20px;margin-left: 4px;margin-top: -20px;">
                                                            {{tag.name}}
                                                        </el-tag>
                                                    </div>
                                                    <div style="margin-top: -16px;text-align: right;color: #676767;font-size: 13px;">{{item.date}}</div>
                                                </el-card>
                                            </div>
                                        </div>

                                        <el-empty v-show="this.collectionList.length===0" style="height: 700px" image="https://cdn.pipilong.com.cn/svg/empty.svg"></el-empty>
                                    </el-tab-pane>
                                    <el-tab-pane name="third">
                                        <span slot="label" class="tabs-style"><i class="ri-user-heart-line"></i>粉丝</span>

                                        <div v-if="this.followed.length>0">
                                            <div v-for="(item,index) in this.followed" >
                                                <el-card shadow="none" style="line-height: 0;">
                                                    <el-row>
                                                        <el-col :span="2">
                                                            <el-avatar :size="50" :src="item.userAvatarUrl" style="margin-bottom: -14px;"></el-avatar>
                                                        </el-col>
                                                        <el-col :span="6" style="">
                                                            <h4 style="text-align: left;margin-left: 7px;">
                                                                {{item.username}}
                                                            </h4>
                                                        </el-col>
                                                        <el-col :span="14" style="text-align: left;">
                                                            <p style="margin-left: 5px;font-size: 14px;line-height: 1.2">
                                                                {{item.text}}
                                                            </p>
                                                        </el-col>
                                                        <el-col :span="2">
                                                            <el-button type="info" icon="el-icon-message" circle @click="enterChat(item)"></el-button>
                                                        </el-col>
                                                    </el-row>
                                                </el-card>
                                            </div>
                                        </div>
                                        <el-empty v-show="this.followed.length===0" style="height: 700px" image="https://cdn.pipilong.com.cn/svg/empty.svg"></el-empty>
                                    </el-tab-pane>
                                    <el-tab-pane name="fourth">
                                        <span slot="label" class="tabs-style"><i class="ri-user-star-line"></i>关注</span>

                                        <div v-if="this.follow.length>0">
                                            <div v-for="(item,index) in this.follow" >
                                                <el-card shadow="none" style="line-height: 0;">
                                                    <el-row>
                                                        <el-col :span="2">
                                                            <el-avatar :size="50" :src="item.userAvatarUrl" style="margin-bottom: -14px;"></el-avatar>
                                                        </el-col>
                                                        <el-col :span="6" style="">
                                                            <h4 style="text-align: left;margin-left: 7px;">
                                                                {{item.username}}
                                                            </h4>
                                                        </el-col>
                                                        <el-col :span="14" style="text-align: left;">
                                                            <p style="margin-left: 5px;font-size: 14px;line-height: 1.2">
                                                                {{item.text}}
                                                            </p>
                                                        </el-col>
                                                        <el-col :span="2">
                                                            <el-button type="info" icon="el-icon-message" circle @click="enterChat(item)"></el-button>
                                                        </el-col>
                                                    </el-row>
                                                </el-card>
                                            </div>
                                        </div>
                                        <el-empty v-show="this.follow.length===0" style="height: 700px" image="https://cdn.pipilong.com.cn/svg/empty.svg"></el-empty>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                        </el-card>
                    </div>

                </el-main>
            </el-container>
            <el-aside width="300px" style="background-color: #f5f5f5">

                <div style="padding-left: 34px;margin-top: 80px;">
                    <el-card shadow="always" style="border-radius: 20px;width: 230px;line-height: 2">
                        <div>
                            <h3>成就贡献</h3>
                        </div>

                        <div>
                            <div style="float: left"><img src="https://cdn.pipilong.com.cn/svg/点赞.svg" width="20px;"></div>
                            <span style="float: left;line-height: 1.6;margin-left: 5px;">获点赞数</span>
                            <div style="float: left;margin-left: 10px;font-size: 16px;color: #545252;line-height: 1.6">
                                <span v-show="user.numberOfLikes===''">空</span>
                                <span v-show="user.numberOfLikes!==''&&user.numberOfLikes<1000">{{user.numberOfLikes}}</span>
                                <span v-show="user.numberOfLikes!==''&&user.numberOfLikes>=1000">{{Math.round(user.numberOfLikes/100)/10}}k</span>
                            </div>
                        </div>

                        <div style="height: 40px;"></div>
                        <!--                        -->
                        <div>
                            <div style="float: left"><img src="https://cdn.pipilong.com.cn/svg/收藏.svg" width="20px;"></div>
                            <span style="float: left;line-height: 1.6;margin-left: 5px;">获收藏数</span>
                            <div style="float: left;margin-left: 10px;font-size: 16px;color: #545252;line-height: 1.6">
                                <span v-show="user.numberOfCollections===''">空</span>
                                <span v-show="user.numberOfCollections!==''&&user.numberOfCollections<1000">{{user.numberOfCollections}}</span>
                                <span v-show="user.numberOfCollections!==''&&user.numberOfCollections>=1000">{{Math.round(user.numberOfCollections/100)/10}}k</span>
                            </div>
                        </div>

                        <div style="height: 40px;"></div>
                        <!--                        -->
                        <div>
                            <div style="float: left"><img src="https://cdn.pipilong.com.cn/svg/阅读.svg" width="24px;"></div>
                            <span style="float: left;line-height: 1.6;margin-left: 2px;">被阅读数</span>
                            <div style="float: left;margin-left: 10px;font-size: 16px;color: #545252;line-height: 1.6">
                                <span v-show="user.numberOfRead===''">空</span>
                                <span v-show="user.numberOfRead!==''&&user.numberOfRead<1000">{{user.numberOfRead}}</span>
                                <span v-show="user.numberOfRead!==''&&user.numberOfRead>=1000">{{Math.round(user.numberOfRead/100)/10}}k</span>
                            </div>
                        </div>

                        <div style="height: 30px;"></div>

                    </el-card>
                </div>

                <div style="margin-top: 40px;margin-right: 15px;">
                    <img src="https://cdn.pipilong.com.cn/svg/personal4.svg" style="width: 220px;"/>
                </div>


                <!--                回到顶部-->
                <el-backtop :bottom="150" visibility-height="140" :right="180" style="width: 50px;">
                    <div style="{
                                height: 100%;
                                width: 100%;
                                background-color: #f2f5f6;
                                box-shadow: 0 0 6px rgb(16,178,160);
                                text-align: center;
                                line-height: 50px;
                                color: #10b2a0;
                                border-radius: 16px;
                                }">
                        <div style="font-size: 30px;">
                            <i class="ri-rocket-2-fill"></i>
                        </div>
                    </div>
                </el-backtop>

            </el-aside>
        </el-container>

        <el-footer height="40px" style="background-color: #f5f5f5">
            <div style="margin-top: -32px">
                <h5>Copyright © 2023 Pipilong. 皮皮龙技术分享 版权所有 <a href="https://beian.miit.gov.cn/"
                                                                          target="_blank" class="footer-style">皖ICP备2023001037号-1</a>
                </h5>
            </div>
        </el-footer>

    </el-container>

    </el-container>

</div>


<script>

    const service = axios.create({
        withCredentials: true, // 跨域请求时发送Cookie
        timeout: 60000, // 请求超时
    });

</script>

<script>

    new Vue({
        el: "#app",

        mounted() {

            service.get("http://localhost:8080/verification/isLogin").then( res=> {
                this.user_id = res.data;
                this.avatarUrl = "https://cos.pipilong.com.cn/UserAvatar/" + this.user_id +".jpg";
                this.isLogin = true;

                service.get("http://localhost:8080/user/dynamic/"+this.user_id).then(res=>{
                    this.dynamicList=res.data;
                    for(let i=0;i<this.dynamicList.length;i++){
                        this.dynamicList[i].label=JSON.parse(this.dynamicList[i].label);
                        this.dynamicList[i].date=this.dynamicList[i].date.substring(0,10);
                    }
                });
            }).catch(error=>{
                window.location.href='./login.html';
            });

            service.get("http://localhost:8080/user/getprofile").then(res=>{
                this.user=res.data;
            }).catch(error=>{
                this.$message.error('登录异常，请重新登录！');
            });

        },

        methods: {
            handleClick(tag) {
                if(tag.name==="second"){
                    service.get("http://localhost:8080/user/collection/"+this.user_id).then(res=>{
                        this.collectionList=res.data;
                        for(let i=0;i<this.collectionList.length;i++){
                            this.collectionList[i].label=JSON.parse(this.collectionList[i].label);
                            this.collectionList[i].date=this.collectionList[i].date.substring(0,10);
                        }
                    });
                }else{
                    if(tag.name==="third"){
                        service.get("http://localhost:8080/user/getFollowed/"+this.user_id).then(res=>{
                            this.followed=res.data;
                        });
                    }else{
                        if(tag.name==="fourth"){
                            service.get("http://localhost:8080/user/getFollow/"+this.user_id).then(res=>{
                                this.follow=res.data;
                            });
                        }
                    }
                }
            },
            avatarShow() {
                this.isAvatarShow = true;
            },
            avatarShut() {
                this.isAvatarShow = false;
            },
            openPersonalSettings(){
                window.open('./personal-settings.html');
            },
            logout(){

                service.get('http://localhost:8080/logout').then(res=>{
                    window.location.href='../index.html';
                }).catch(error=>{
                    this.$message.error('退出登录失败！');
                });

            },
            enterDiscuss(item){
                let url='./discuss.html?id=' + item.discussId;
                window.open(url);
            },
            searchMethod(){
                let url = encodeURI('./search-page.html?query='+this.search);
                window.open(url);
            },
            enterChat(item){
                let data=new FormData();
                data.append('userId',this.user_id);
                data.append('friendId',item.userId);
                data.append('username',item.username);
                service.post('http://localhost:8080/user/createChatRoom',data).then(res=>{

                });
                window.location.href='./message.html?friendId='+item.userId;
            }
        },

        data() {
            return {
                search: '',
                isLogin: true,
                avatarUrl: '',
                fit: 'fill',
                reference: false,
                activeName: 'first',
                isAvatarShow: false,
                user: {},
                dynamicList: ['1','2','3'],
                collectionList: [],
                followed: [],
                follow: [],
            }
        }
    });
</script>

</body>
</html>