
/*.username_input_style{*/
/*    width: 100%;*/
/*    height: 44px;*/
/*    !*border-radius: 40px !important;*!*/
/*    border: 0;*/
/*    outline: none;*/
/*    font-size: 20px !important;*/
/*    background-color: #c7c7c7 !important;*/
/*}*/

.home-page-style5{
    color: #333333;
    text-decoration: none;
}

.dialog_style{
    border-radius: 20px !important;
    line-height: 4;
}


.next_style--primary{

    background: #5b98e3 !important;
    width: 200px !important;
    color: #333333 !important;
    border-color: #5b98e3 !important;
    box-shadow: 0 2px 12px 0 rgb(91, 152, 227);
    border-radius: 10px !important;

}

.next_style--primary:hover{

    background: #548dd0 !important;
    width: 200px !important;
    color: #333333 !important;
    border-color: #548dd0 !important;
    box-shadow: 0 2px 12px 0 rgb(84, 141, 208);
    border-radius: 10px !important;

}


.update_button--text{
    /*box-shadow: 0 2px 12px 0 rgb(171, 217, 171);*/
    color: #949393 !important;
    font-size: 16px !important;
}

.update_button--text:hover {
    color: #838181 !important;
    opacity: 0.8;
}

.save_style--primary{
    background: #79cede !important;
    width: 200px !important;
    color: #333333 !important;
    border-color: #79cede !important;
    box-shadow: 0 2px 12px 0 rgb(121, 206, 222);
    border-radius: 10px !important;
}

.save_style--primary:hover{
    background: #69b4c5 !important;
    width: 200px !important;
    color: #333333 !important;
    border-color: #69b4c5 !important;
    box-shadow: 0 2px 12px 0 rgb(105, 180, 197);
    border-radius: 10px !important;
}

.radio_button_style {
    border-radius: 10px !important;
    /*background: #a83434 !important;*/
    /*width: 200px !important;*/
    /*color: #333333 !important;*/
    /*border-color: #FDFDFDFF !important;*/
}


.avatar_card_item--primary{
    background: #fdfdfd !important;
    width: 200px !important;
    color: #333333 !important;
    border-color: #FDFDFDFF !important;
}

.avatar_card_item--primary:hover{
    background: #f5f4f4 !important;
    width: 200px !important;
    color: #333333 !important;
    border-color: #FDFDFDFF !important;
}


.isAvatarShow_style{
    margin-left: -90px;
    margin-top: -20px;
    width: 190px;
    height: 220px;
    border-radius: 16px;
    box-shadow: 0 0 6px rgb(139, 96, 210);
}

.hot_item{
    background: #ffffff !important;
    width: 240px !important;
    height: 50px !important;
    color: #333333 !important;
    border-color: #ffffff !important;
}

.hot_item:hover{
    background: #eeeded !important;
    width: 240px !important;
    height: 50px !important;
    color: #333333 !important;
    border-color: #eeeded !important;
}

.card_discuss{
    height: 130px;
    border-style: none;
}

.add_tableData_button--primary{
    width: 200px;
    height: 36px;
    color: #101010 !important;
    background: #f3f3f3 !important;
    border-color: #f3f3f3 !important;
}

.add_tableData_button--primary:hover{
    background: #e5e5e5 !important;
    border-color: #e5e5e5 !important;
    color: #101010 !important;
    opacity: 0.8;
}

.login_button--primary{
    box-shadow: 0 2px 12px 0 rgb(145, 183, 241);
    background: #91b7f1 !important;
    border-color: #91b7f1 !important;
}

.login_button--primary:hover{
    background: #7fa0e7 !important;
    border-color: #7fa0e7 !important;
    color: #FFF !important;
    opacity: 0.8;
}

.release_button--primary{
    box-shadow: 0 2px 12px 0 rgb(171, 217, 171);
    background: #abd9ab !important;
    border-color: #abd9ab !important;
}

.release_button--primary:hover {
    background: #81be81 !important;
    border-color: #81be81 !important;
    color: #FFF !important;
    opacity: 0.8;
}


.head_icon{
    line-height: 1;
}

.title{
    float: left;
}


.col-1 img {
    display: inline-block;
    position: relative;
    top: 5px;
}

.col-1 {
    margin: auto 0;
    overflow: hidden;
}

.col-2 {
    height: 50px;
    display: grid;
    grid-template-rows: 20px 20px;
    line-height: 28px;
}

.col-3 {
    text-align: center;
    margin: auto 10px;
}

.tabs-style{
    font-size: 20px;
    color: #778beb;
}

.card{
    border-radius: 40px;
}

.avatar-position1{
    padding-top: 30px;
    padding-left: 20px;
}


.avatar-button-style{
    font-size: 20px;
}

.avatar-style{
    padding-left: 4px;
    background-size: 20px;
}

.avatar-position{
    padding-top: 2px;
    padding-right: 100px;
}

.search-icon{
    font-size: 8px;
}

.logo{
    padding-left: 35px;
    padding-top: 15px;
    width: 94px;
    height: 26px;
}

.hr-double {
    border: 0;
    border-top: 3px double #d0d0d5;
}

.hr-twill {
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}

.hr-shadow {
    /*background-color: #00439c;*/
    margin-top: -8px;
    border: 0;
    padding-top: 10px;
    color: #d0d0d5;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-shadow: inset 0 10px 10px -10px;
}

.hr-solid {
    border: 0;
    border-top: 1px solid #d0d0d5;
}


.home-page-style{
    color: #333333;
    text-decoration: none;
}

.footer-style{
    padding-left: 30px;
    color: #333333;
    text-decoration: none;

}

.home-page-style1{
    padding-left: 35px;
    color: #333333;
    text-decoration: none;
}

.home-page-style2{
    padding-left: 20px;
    color: #333333;
    text-decoration: none;
}

.row{
    /*padding-top: 12px;*/
}

.head_{
    font-size: 4px;
}


.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}


.el-col {
    border-radius: 4px;
}
.bg-purple-dark {
    background: #99a9bf;
}
.bg-purple {
    background: white;
}
.bg-purple-light {
    background: #e5e9f2;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
    font-size: 18px;

}
.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}




.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}


.el-dropdown-link {
    cursor: pointer;
    color: #333333;
    font-size: 16px;
}
.el-icon-arrow-down {
    font-size: 12px;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}


.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}














































